{% extends "::base.html.twig" %}

{% block title %}AppBundle:Currency:index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="title">Converter</h2>
        <form class="form" action="/query">
            <div id="calculator_from">
                <input type="number" id="conversionAmount" name="amount" type="text" value="123.45">
                <select id="conversionFrom" name="from">
                    {% for code,cur in currencies %} }}
                        {% set selectedAttr = '' %}
                        {% if code is same as("RUB") %}
                            {% set selectedAttr = 'selected="selected"' %}
                        {% endif %}
                        <option value="{{ code }}" {{ selectedAttr }}>{{ code }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="calculator_to">
                <input id="conversionResult" disabled="disabled">
                <select id="conversionTo" name="to">
                    {% for code,cur in currencies %} }}
                        {% set selectedAttr = '' %}
                        {% if code is same as("PLN") %}
                            {% set selectedAttr = 'selected="selected"' %}
                        {% endif %}
                        <option value="{{ code }}" {{ selectedAttr }}>{{ code }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="calculator_currency">
                <input type="button" id="currency_submit" value="Convert"/>
            </div>
        </form>
    </div>
{% endblock %}
